.country {
    border: 2px solid gray;
    border-radius: 12px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(105, 132, 143);
}

.country-flag {
    width: 200px;
    border-radius: 8px;
}

.country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.country-visited{
    background-color: bisque;
}